<div id="thanh_slidebar"
onmouseover="document.getElementById('main_menu').style.display = 'block';

document.getElementById('main').classList.toggle('paused'); 
">
</div>


<div id="wapper">


    <div id="slidebar">

        <nav class="container">
           <ul id="main_menu">
                <li><a href="http://10.14.12.72:8080/interface"><i class="fa-solid fa-house"></i> Home</a></li>

                <li><a href="http://10.14.12.72:8080/Sala/chart"><i class="fa-regular fa-sun"></i> Đồ thị</a>
    
                
                </li>
    <!-- phần cần coppy để tạo menu -->

                <!-- <li><a href="http://192.168.0.100:8080/Sala/export"><i class="fa-solid fa-fan"></i> Trích xuất</a> -->
                  

                <li><a href="http://10.14.12.72:8080/Sala/error"><i class="fa-solid fa-land-mine-on"></i> Lỗi</a>

 
                
 
                </li>

 
  
           </ul>


        </nav>
        
    </div>
</div>
